- @title="Add a site"
.block-middle
  .middle-center
    If you have a web site with truetype fonts, you can submit your site here.
    %br/
    %br/
    Add a 
    %a{:href => "searchform.html"}
      %b 
        %u font search box
        to your site!
    %br/
    %br/
    Simply write us an email at info
    %img{:src => "images/ad.gif" :valign => bottom :border => 0 :width => 11 :height => 11}/
    fontseek.com
    %br/
    %br/
    %br/
    %br/
