<% @title="Add a site" %>
			<div class="block-middle">
				<div class="middle-center">
            If you have a web site with truetype fonts, you can submit your site here.
            <br/>
            <br/>
           Add a <A HREF="searchform.html"><B><U>font search box</U></B></A> to your site!
            <br/>
            <br/>
            Simply write us an email at info<IMG SRC="images/ad.gif" valign=bottom BORDER=0 WIDTH=11 HEIGHT=11>fontseek.com
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

